.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1075;
  color: wheat;
}

.title {
  font-weight: 800;
  margin-bottom: 10px;
}
.subtitle {
  color: gray;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 40px;
}

.img {
  border-radius: 20px;
  box-shadow: 5px 5px 10px gainsboro;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 500px;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.listItem {
  padding: 0.75rem 1.5rem;
  border: 2px solid aqua;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  margin: 8px 0;
}

.listItem + .listItem {
  margin-left: 10px;
}

.recipeBtn {
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}

.recipeBtn:hover {
  text-decoration: underline;
  text-shadow: 2px 2px gray;
}

.recipe {
  width: 500px;
  text-align: left;
  font-size: large;
  margin-bottom: 20px;
}
